@media (min-width: 320px) {
    .review {
        margin-top: 20px;


        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 289px;
            border: 1px solid #EEEEEE;
            border-radius: 5px;

            &__container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 90%;
                height: 266px;

                &--raiting {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .raiting-stars {
                        width: 143px;
                        display: flex;
                        justify-content: space-between;
                    }

                    .raiting-grade {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;
                        color: #0A0A0A;
                    }
                }

                .line {
                    width: 100%;
                    height: 0px;
                    border: 1px solid #EEEEEE;
                }

                &--bar {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height: 135px;

                    .bar-item {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &>p {
                            font-size: 16px;
                            line-height: 19px;
                            color: $gray-color;
                        }

                        &__line {
                            width: 70%;
                            height: 10px;
                            background: #EEEEEE;
                            border-radius: 10px;

                            .progresive {
                                width: 146px;
                                height: 10px;
                                background: $main-color;
                                border-radius: 10px 0px 0px 10px;
                            }
        
                            .progresive-second {
                                width: 63px;
                                height: 10px;
                                background: $main-color;
                                border-radius: 10px 0px 0px 10px;
                            }
        
                            .progresive-third {
                                width: 75px;
                                height: 10px;
                                background: $main-color;
                                border-radius: 10px 0px 0px 10px;
                            }
        
                            .progresive-fourth {
                                width: 14px;
                                height: 10px;
                                background: $main-color;
                                border-radius: 10px 0px 0px 10px;
                            }
        
                            .progresive-fifth {
                                width: 0px;
                                height: 10px;
                                background: $main-color;
                                border-radius: 10px 0px 0px 10px;
                            }
                        }

                        &>span {
                            font-size: 16px;
                            line-height: 19px;
                            color: #0A0A0A;
                        }
                    }
                }

                &--btn {
                    display: block;
                    width: 100%;
                    height: 50px;
                    background: $main-color;
                    border-radius: 5px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }

        &-title {
            margin-top: 15px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #0A0A0A;

            &>span {
                margin-left: 5px;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: $gray-color;
            }
        }

        &>select {
            margin-top: 10px;
            width: 100%;
            height: 40px;
            border: 2px solid #EEEEEE;
            border-radius: 3px;
            -webkit-appearance: none;

            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-indent: 15px;
            display: flex;
            align-items: center;
            color: $main-color;
        }

        &-images {
            margin-top: 25px;

            &__title {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $gray-color;
            }

            &__items {
                margin-top: 10px;

                .review-swiper {
                    &__slide {
                        margin-right: 0;
                        
                        .images {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 79.14px;
                            height: 100px;
                            background: #FAFAFA;
                            border-radius: 2.6738px;

                            &>img {
                                width: 92%;
                                border-radius: 2.6738px;
                            }
                        }
                    }
                }
            }
        }

        &-comments {
            margin-top: 25px;

            &__user {
                display: flex;
                flex-direction: column;

                .user {
                    margin-top: 25px;

                    &-name {
                        display: flex;
                        flex-direction: row;

                        &__img {
                            width: 50px;
    
                            &>img {
                                width: 100%;
                            }
                        }

                        &__title {
                            margin-left: 10px;
                            display: flex;
                            align-items: baseline;
                            width: 202px;
                            flex-wrap: wrap;

                            &--name {
                                width: 100%;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 21px;
                                color: #0A0A0A;
                            }

                            &--stars {
                                width: 87px;
                                height: 14px;
                                display: flex;
                                justify-content: space-between;

                                &>img {
                                    width: 13px;
                                    height: 12px;
                                }
                            }

                            &--date {
                                margin-left: 10px;
                                font-size: 14px;
                                line-height: 16px;
                                color: $gray-color;
                            }
                        }
                        &__text {
                            margin-top: 15px;

                            &--advantages {
                                font-size: 16px;
                                line-height: 20px;
                                color: #404040;

                                &>span {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #0A0A0A;
                                    color: $gray-color;
                                }
                            }

                            &--disadvantages {
                                margin-top: 10px;
                                font-size: 16px;
                                line-height: 20px;
                                color: #404040;

                                &>span {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: $gray-color;
                                }
                            }

                            &--title {
                                margin-top: 10px;
                                font-size: 16px;
                                line-height: 20px;
                                color: #404040;
                            }
                        }

                        &__images {
                            margin-top: 15px;
                            display: flex;
                            width: 290px;
                            justify-content: space-between;

                            &--item {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 50px;
                                height: 64.71px;
                                border: 2px solid #EEEEEE;
                                border-radius: 5px;

                                &>img {
                                    width: 97%;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}